.color-main {
  background-color: #17a2b8;
}

.btn-main{
  background-color: #17a2b8;
  color: white;
}

.active-main {
  background-color: #0b7686;
}

#pageHeader a {
  color: black;
  font-weight: bold;
  border: 1px solid white;
  width: 100%;
}

#pageHeader .col {
  padding-left: 3px;
  padding-right: 3px;
}

.bg-main {
  background-color: #1bc5df;
}

.color-main2 {
  background-color: #16bad3;
}

.box-stt a {
  text-decoration: none !important;
  color: black;
}

.box-stt a:hover {
  color: black;
}

.box-stt img {
  margin-right: 5px;
}

.important {
  font-weight: bold;
}

.box-stt {
  margin-bottom: 5px;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 13px;
}

.page-active {
  background-color: #1bc5df;
}



@media (min-width: 991.98px) {
  #logo {
    width: 50%;
  }

  .box-stt {
    font-size: 15px;
  }
}



@media (max-width: 991.98px) {
  #hour3 {
    font-size: 8px !important;
  }

  #logo {
    width: 100%;
  }

  .htop {
    margin-top: 25px;
  }

  .box-stt {
    font-size: 13px;
  }

}

@media (max-width: 358px) {
  .hhtop {
    margin-top: 7px;
  }
}



@-webkit-keyframes snowflakes-fall {
  0% {
      top: -10%
  }
  100% {
      top: 100%
  }
}

@-webkit-keyframes snowflakes-shake {
  0%,
  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }
  50% {
      -webkit-transform: translateX(80px);
      transform: translateX(80px)
  }
}

@keyframes snowflakes-fall {
  0% {
      top: -10%
  }
  100% {
      top: 100%
  }
}

@keyframes snowflakes-shake {
  0%,
  100% {
      transform: translateX(0)
  }
  50% {
      transform: translateX(80px)
  }
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s
}

